/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2021, 4:04:14 PM
    Author     : theok
*/

.dashboard-container {
  position: absolute;
  top: 0;
  padding: 0 100px;
}

.dashboard-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-card-wrapper {
  margin: 30px 10px;
}

.dashboard-card-container {
  width: 200px;
  background-color: var(--color-card-bg);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--color-card-bg);
}

.dashboard-card-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sum-text {
  font-size: 1.7em;
}

.dashboard-card-name {
  font-size: 1.5em;
  font-weight: 600;
}

.dashboard-card-button {
  border-radius: 10px;
  background-color: var(--color-button);
  text-align: center;
  padding: 15px 25px;
  color: white;
}

.dashboard-card-button:hover {
  color: white;
  text-decoration: none;
  opacity: var(--opacity-button-hover);
}

.dashboard-card-margin-elements {
  margin-top: 15px;
}