.bar-top-buffer {
  padding-top: 70px;
}

.donut-top-buffer {
  padding-top: 100px;
}

.text-sorting {
    font-size: 30px;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
}

.page-header h1 {
  font-size: 2rem;
}

.page-header h2 {
  font-size: 1.2rem;
  margin-top: 2vh
}

.date-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  margin-top: 6vh;
}

.date-picker-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 11%
}

.date-picker-container p{
  font-weight: bold;
  font-size: 1.2rem;
}

.button-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.see-data-button {
  background-color: var(--color-button);
  width: 300px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
  border-radius:  12vh;
  transition: 0.2s;
}

.see-data-button:hover {
  cursor: pointer;
  opacity: 70%;
}