.add-popup-button {
	position:fixed;
	width:300px;
	height:65px;
	right:40px;
    background-color: var(--color-button);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    transition: opacity 0.2s ease-out;
    padding: 1rem;
    font-size: 1.5em;
}

.add-popup-button:hover {
	cursor:pointer;
    opacity: var(--opacity-button-hover);
}

.add-transaction-popup-button {
	bottom: 40px;
}

.add-category-popup-button {
	bottom: 140px;
}