.add-popup-button {
	position:fixed;
	width: 20vw;
	right:40px;
    background-color: var(--color-button);
	color:white;
	border-radius: 50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    transition: 0.2s;
    font-size: 1.5em;
}

.add-popup-button:hover {
	cursor:pointer;
    opacity: var(--opacity-button-hover);
}

.add-transaction-popup-button {
	bottom: 40px;
}

.add-category-popup-button {
	bottom: 140px;
}